<section class="slider">
<ul data-options="slide_number:false;bullets:false;" data-orbit="data-orbit" class="example-orbit">
    {tag_slideshow images}
</ul>
</section>
<section class="thumbs">
<div class="row">
<div class="medium-9 columns medium-centered"> {tag_slideshow thumb images}</div>
</div>
</section>
<!--end slider-->
<section class="work-detail">
<div class="row">
<div class="medium-9 columns medium-centered">
<div class="row">
<div class="medium-2 columns"><a class="button tiny" href="/portfolio/index">Back</a></div>
<div class="medium-10 columns">
<h1>{tag_name}</h1>
<h2>{tag_location}</h2>
<p>{tag_description}</p>
</div>
</div>
</div>
</div>
</section>
<!--end section work-->
